.app-footer {
    width: 100%;

    background-color: #f6d1a6;

    vertical-align: bottom;

    padding-top: 2px;
    padding-bottom: 15px;
    padding-left: 20px;

    margin-top: auto;
}

.footer-button {
    border: 0;
    background-color: inherit;
    text-decoration: underline;
    color: blue;
}

.main-privacy {
    margin: 1rem 1rem;
}