.header-nav-menubar {
    width: 100%;
    margin-top: -15px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-nav-menubar>* {
    list-style-type: none;
}

.header-nav-button, .header-nav-sub-button {
    border: 0;

    background-color:#f6d1a6;
    color: blue;

    font-size: 1rem;
    text-decoration: underline;
}

.header-nav-submenu {
    padding: 0;
    margin-top: 1rem;

    position: absolute;
    right: 0;

    background-color:#f6d1a6;

    overflow: hidden;

}

.header-nav-submenu>* {
    list-style-type: none;
    
    margin-top: 0.5rem;
}

@media(max-width:44rem) {
    .header-nav-menubar {
        width: fit-content;

        display: flex;
        flex-direction: column;

        background-color: #f6d1a6;

        position: absolute;
        right: 0;
        top: 50px;

        padding: 0;
    }

    .header-nav-submenu {
        position: relative;
    }


}